@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css" />
@* This is for the loader *@
<div class="form-wrapper">
    <div class="spinner-container" id="spinner">
        <div class="spinner">
            <div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>

    <form asp-action="Login" method="post" id="loginForm">
        <h2>Login</h2>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*  User has to enter the form details *@

        <div class="input-group">
            <input asp-for="Email" class="input" required autocomplete="off" />
            <label class="user-label">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="input-group">
            <input asp-for="Password" type="password" class="input" required />
            <label class="user-label">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="input-group">
            <input asp-for="RememberMe" type="checkbox" />
            <label>Remember Me</label>
        </div>
        <div class="button-group">
            <button type="submit" class="btn-primary">Login</button>
            <a asp-controller="Home" asp-action="Index" class="btn-primary cancel-button">Cancel</a>
        </div>

    </form>
</div>
@* This allows the spinner to do its action *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const form = document.getElementById('loginForm');
        const spinner = document.getElementById('spinner');

        form.addEventListener('submit', function () {
            spinner.style.display = 'block';
        });
    </script>
}
